/* =========
Global Styling
* font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
* bg.png file for background
========= */
body {
	background: url("../img/bg.png");
	color: #333;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	
	font-size: 100%; /* 1em or 16px */

}

p {
 	line-height: 24px;
}

/* =========
Blockquote
* color #e44d26
* font size 2em
* font style italic
* letter spacing 1px
* text aligned center
========= */
blockquote {
	color: #e44d26;
	font-size: 2em; /* 32px */
	font-style: italic;
	letter-spacing: 1px;
	text-align: center; 
}

/* =========
Navigation
* List Items - Navigation provided

Anchor Links
* padding: 10px 10px 10px 40px;
* color on hover #E44D26
========= */
nav li {
	float: left;
	list-style: none;
	margin: 0 10px 0 10px;
}

/* Base link styling */
nav a:link, 
nav a:visited {
	color: #333;
	padding: 10px 10px 10px 40px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover, 
nav a:active {
	color: #E44D26;
}

/* on hover show home.png */
#home a:hover {
	background: url("../img/icons/home.png") no-repeat left center;
}

/* on hover show home.png */
#super a:hover {
	background: url("../img/icons/super.png") no-repeat left center;
}

/* on hover show home.png */
#html5 a:hover {
	background: url("../img/icons/html5.png") no-repeat left center;
}

/* =========
Super Friends
* font-family: 'Open Sans', sans-serif;
* text-indent: 32px;
* line-height: 24px;
========= */
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em; /* 20px */
}

article img {
	border: 10px solid #fff;
}

img + p {
	text-indent: 32px;
}

/* =========
Footer
* arial font for paragraphs
========= */
footer p {
	font: .625em/1em 'arial', sans-serif; /* 10px / 16px = .625em */
}

/* =========
Fluid container
========= */

.container {
	width: 98%;
	margin: 0 auto;
}

header,
blockquote,
footer {
	float: left;
	width: 100%;
}

header img{
	float: right;
}

article {
	float: left;
	width: 100%;
}

article section {
	background: red;
	float: left;
	width: 25%;
}

/* ==============
 Adaptive Content 
 ============== */

article img {
	width: 100%;
	max-width: 100%;

}

/* =========
 Media Query - screensize.es 
 ========= */

  /*  Large Desktop  */

 @media screen and (max-width: 1300px) {
 	body {
 		/* background: lightyellow; */
 	}

 	article img {
 		width: 75%;
 		max-width: 75%;
 		transition: width .5s;
 	}
 }


 /*  Desktop  */

 @media screen and (max-width: 1000px) {
 	body {
 		/* background: lightpink; */
 	}
 }

  /*  Tablet styling */

 @media screen and (max-width: 768px) {
 	body {
 		/* background: lightgreen;*/
 	}

 	article section {
 		width: 50%;
 		transition: width .5s;
 	}
 }

   /*  Mobile styling  */

 @media screen and (max-width: 480px) {
 	body {
 		/* background: lightblue; */
 	}

 	article section {
 		width: 100%;
 		text-align: center;
 		transition: width .5s;
 	}

 	article img {
 		width: 50%;
 		max-width: 50%;
 	}

 	nav li {
 		float: none;
 		margin: .5em;
 	}

 	header img {
 		position: absolute;
 		top: 0;
 		right: 0;
 	}
 }


